*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 2rem;
  transition: all 0.3s linear;
}
.grocery-form h3{
   text-align: center;
   color: hsl(205, 86%, 17%);
   margin-bottom: 1.5rem;
}
.form-control{
  display: flex;
  justify-content: center;
}
.grocery{
   padding: 0.25rem;
   padding-left: 1rem;
   background: hsl(210, 36%, 96%);
   border-color: transparent;
   color: hsl(210, 22%, 49%);
   flex: 1 0 auto;
}
.grocery::placeholder{
  color: hsl(210, 22%, 49%);
}

.submit-btn{
  background: hsl(205, 86%, 81%);
  flex: 0 0 5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0.25rem;
  align-items: center;
  font-size: 0.85rem;
}

.submit-btn:hover{
  background: hsl(205, 78%, 60%);
  color: white;
}

/*Grocery List*/
.grocery-container{
  margin-top: 2rem;
}
.grocery-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
}
.title{
  margin-bottom: 0;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  text-transform: capitalize;
  color: hsl(205, 86%, 17%);
}

.edit-btn, .delete-btn{
   background: transparent;
   border-color: transparent;
   cursor: pointer;
   font-size: 0.7rem;
   margin: 0 0.35rem;
}
.edit-btn{
  color: green;
}
.edit-btn:hover{
  color: lightgreen;
}
.delete-btn{
  color: red;
}
.delete-btn:hover{
  color: orange;
}

.clear-btn{
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  color: crimson;
  margin: 0 auto;
  border-color: transparent;
  background: transparent;
  letter-spacing: 2px;
  margin-top: 1.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.clear-btn:hover{
  color: darkred;
}